.about-container{
    
    align-items: center;
    column-gap: 4rem;
}

.profile-picture{
      padding: 100px;;
      left: 55%;
      content: normal;
      display: flex;
      height: 77vh;
      margin-top: 6rem;
}

.about-info{
    width: 50%;
    height: 50%;
    position: absolute;
    bottom: -90%;
    right: 100px;
    gap:1px;
    content: normal;
}


.about-box-1{
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 1rem;
    padding:1rem 1.25rem;
    text-align: center;
    width: 15rem;
    height: auto;
    
}

.about-box-2{
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 1rem;
    padding:1rem 1.25rem;
    text-align: center;
    width: 15rem;
    height: auto;
    
}




.section-header {
    text-align: center;
    margin-bottom: 2rem;
    
}

.section-subtitle {
    font-size: 1.2rem;
    color: #666;
}

.section-title {
    font-size: 2.5rem;
    color: var(--peach);
    margin-top: 0.5rem;
}

.bxs-briefcase, .bxs-graduation {
   font-size:xx-large;
}