@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');

:root {
      --primary-color: #edf2fc;
      --secondary-color: #242D49;
      --peach: #ff4321;
      --button-color: rgb(53, 53, 53);
      --black: #000;
      --gray: #666;
}

.App {
      padding: 0.5rem 3.5rem;
      overflow: hidden;
      color: var(--black);
}

*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

html{
      scroll-behavior: smooth;
}

body{
      font-weight: var(--body-font);
}


@media screen and (max-width: 992px) {
      :root{
            --big-font-size: 2.75rem;
            --small-font-size: 1.25rem;
            --smaller-font-size-: 0.75rem;
            --normal-font-size: 0938;
            --h1-font-size: 1.5rem;
            --h2-font-size: 1.25rem;
            --h3-font-size: 1rem;
      }
}

@media screen and (max-width: 992px){
      
}

@media screen and (max-width: 768px){
      
}

@media screen and (max-width: 576px){
      
}

@media screen and (max-width: 350px){
      
}